* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Fira Code', monospace; /* Aplica Fira Code a todo el cuerpo */
}

h1, h2, h3, p {
    font-family: 'Fira Code', monospace; /* Aplica Fira Code a elementos específicos */
}

/* Estilos para el header */
header {
    background-color: rgba(0, 0, 0, 0); /* Fondo completamente transparente */
    padding: 5px;
    color: #fff;
    position: fixed; /* Mantiene el header en la parte superior */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 0.3s ease; /* Transición para suavizar el ocultamiento/mostrado */
}

nav {
    text-align: left; /* Alinea el contenido del nav a la izquierda */
    margin-left: 20px; /* Margen izquierdo para separar del borde */
    margin-top: 20px; /* Margen superior para mover los botones hacia abajo */
}

nav ul {
    list-style: none;
    display: flex; /* Alinea los elementos de la lista en una línea */
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margen de la lista */
}

nav ul li {
    margin-right: 20px; /* Espacio entre los enlaces */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}



/* Estilos para la hero section - web principal*/
.hero {
    position: relative;
    height: 60vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; /* Asegúrate de que la imagen cubra el área de la sección */
    background-image: url('yo.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* Asegúrate de que la imagen cubra toda el área */
    background-position: center 50%;
    z-index: 1; /* Asegúrate de que esté detrás del contenido */
}

/* Agregar un pseudo-elemento para oscurecer la imagen de fondo */
.hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.227); /* Color negro con 50% de opacidad */
    z-index: 2; /* Asegúrate de que esté por encima de la imagen */
}

.hero-content {
    position: relative; /* Para que el contenido esté por encima de la imagen de fondo */
    z-index: 3; /* Asegúrate de que esté por encima del fondo y del oscurecimiento */
    text-align: left; /* Cambiar a izquierda para alinear el texto a la izquierda */
    color: white; /* Ajusta el color del texto según la imagen */
    margin-left: -1000px; /* Agregar margen a la izquierda */
    margin-top: 0px; /* Agregar margen superior para subir el texto */
}

/* Nueva sección de separación */
.separator {
    height: 150px; /* Altura de la sección */
    background-color: #FFBF00; /* Color de fondo amarillo/naranja vibrante */
    width: 100%; /* Ancho completo */
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: #2D2D2D; /* Color del texto oscuro para mejor legibilidad */
}

.content-container {
    display: flex; /* Usar flexbox para alinear el contenido */
    align-items: center; /* Centrar verticalmente */
}

.content-container p {
    margin: 0; /* Eliminar márgenes */
    text-align: left; /* Alinear a la izquierda */
    margin-right: 20px; /* Espacio entre el párrafo y el botón */
}

.cta-button {
    background-color: #FF6F20; /* Color de fondo del botón en naranja más oscuro */
    color: #ffffff; /* Texto blanco para el botón */
    padding: 10px 20px; /* Espacio dentro del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s; /* Transición suave al pasar el ratón */
}

.cta-button:hover {
    background-color: #E65C00; /* Color de fondo del botón al pasar el ratón (más oscuro) */
}


.ocultar-video-beta {
    display: none;
}


#about-me {
    background-color: #1e1e1e; /* Color de fondo oscuro */
    color: rgb(255, 255, 255); /* Color del texto blanco */
}

.about-content {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    gap: 20px; /* Espacio entre el video y el texto */
}

.about-text {
    color: rgb(255, 255, 255); /* Color del texto en blanco */
    max-width: 400px; /* Ancho máximo del texto para mantenerlo legible */
    text-align: left; /* Alinear el texto a la izquierda */
}

.about-text a {
    color: rgb(255, 255, 255); /* Asegurarse de que los enlaces también sean blancos */
    text-decoration: none; /* Eliminar subrayado */
}

.about-text a:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el ratón */
}

/* Estilo para centrar el título */
#about-me h2 {
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio inferior para separación */
}










/* Estilos para las secciones */
section {
    padding: 50px;
    background-color: #fff;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    filter: sepia(20%) blur(2px);
}




#publicidad {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centrar texto */
    padding: 40px; /* Espacio alrededor del contenido */
    height: 500px; /* Altura de la sección, ajusta según necesites */
}

.social-buttons {
    margin-top: 20px; /* Espacio entre el texto y los botones */
}

.social-buttons .cta-button {
    background-color: #f0db4f; /* Color de fondo del botón */
    color: #000000; /* Texto negro */
    padding: 10px 20px; /* Espacio dentro del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Espacio entre botones */
    display: inline-block; /* Hacer que los botones se alineen en línea */
}

.social-buttons .cta-button:hover {
    background-color: #e0c95b; /* Color de fondo al pasar el ratón */
}

.icono {
    width: 150px; /* Ajusta el tamaño del ícono según necesites */
    height: 80px; /* Mantén la misma altura que el ancho para que sea circular */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-bottom: 20px; /* Espacio entre el ícono y el título */
}



/* Estilos para la parte de contactos */
#social-media {
    padding: 50px;
    background-color: #222; /* Fondo oscuro para la sección */
    color: #f9f9f9; /* Color del texto claro */
    text-align: center;
}

#social-media h3 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #f9f9f9; /* Color del texto del encabezado claro */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los iconos */
}

.social-icon {
    color: #f9f9f9; /* Color de los iconos */
    font-size: 2em; /* Tamaño de los iconos */
    transition: color 0.3s ease-in-out; /* Efecto de transición */
}

.social-icon:hover {
    color: #f7c600; /* Color amarillo al pasar el cursor */
}




/* Estilos para el footer */
footer {
    position: relative;
    background-color: #282828;
    color: #fff;
    padding: 20px 0; /* Ajusta el padding superior e inferior */
    overflow: hidden; /* Asegúrate de que el efecto no se desborde */
}

/* Asegúrate de que el texto esté encima del efecto */
footer .container {
    position: relative;
    z-index: 2;
}

/* Estilos para el contenedor de las olas */
.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Ajusta la altura de la ola */
    overflow: hidden;
    z-index: 1; /* Asegúrate de que el efecto esté detrás del contenido */
}

/* Efecto de olas */
.wave {
    position: absolute;
    left: 50%;
    width: 200%;
    height: 100px; /* Por aquí puedo ajustar la altura de la ola */
    background: linear-gradient(to right, rgba(180, 170, 26, 0.893) 0%, rgba(200, 161, 35, 0.938) 50%, rgb(192, 184, 34) 100%);
    border-radius: 50%;
    transform: translateX(-50%);
    animation: wave 10s linear infinite;
}

.wave.wave2 {
    height: 150px; /* Mayor altura para olas más pronunciadas */
    background: linear-gradient(to right, rgba(210, 193, 26, 0.982) 0%, rgba(200, 185, 29, 0.776) 50%, rgba(200, 196, 34, 0.2) 100%);
    animation: wave 15s linear infinite;
}

@keyframes wave {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(20px); /* Mayor desplazamiento vertical para olas más pronunciadas */
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* Estilos para alinear el texto y los íconos */
footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    z-index: 2;
    text-align: center; /* Centra el texto dentro de cada columna */
}

footer .col-4 {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro de cada columna */
}

footer .text-start {
    text-align: left;
    flex: 1; /* Ocupa el espacio disponible a la izquierda */
    padding-left: 20px; /* Espacio adicional a la izquierda */
}

footer .text-end {
    text-align: right;
    flex: 1; /* Ocupa el espacio disponible a la derecha */
    padding-right: 20px; /* Espacio adicional a la derecha */
}

footer .text-center {
    text-align: center;
    flex: 1; /* Ocupa el espacio central */
}

footer .text-center i {
    margin: 0 10px; /* Espacio entre los íconos */
}

/* Opcional: Estilos para los íconos en el footer */
footer i {
    font-size: 1.5em;
    color: #fff; /* Color blanco para los íconos */
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Cambiar a disposición vertical */
        align-items: center; /* Centrar todo el contenido horizontalmente */
    }

    iframe {
        width: 100%; /* Ancho del iframe al 100% en móviles */
        height: auto; /* Altura automática para mantener la proporción */
    }

    .about-text {
        margin-left: 0; /* Eliminar margen en dispositivos móviles */
        text-align: center; /* Centrar texto en móviles */
    }

    h2 {
        font-size: 1.5em; /* Reducir el tamaño del encabezado */
    }

   
    

    #publicidad {
        text-align: center; /* Centrar todo el contenido */
        
    }

    .separator-negro {
        height: 160px; /* Altura del "margen" negro */
        background-color: black; /* Color negro para el separador */
        
    }
    
    
    #publicidad .icono {
        
        height: auto; /* Mantener la proporción de la imagen */
        margin-bottom: 15px; /* Espacio entre el ícono y el título */
    }
    
    #publicidad h2 {
        font-size: 1.5em; /* Reducir tamaño del encabezado */
        margin-bottom: 10px; /* Espacio entre el título y el texto */
    }
    
    #publicidad p {
        font-size: 0.90em; /* Ajustar tamaño de texto para mejor legibilidad */
        margin-bottom: 15px; /* Espacio entre el texto y los botones */
    }
    
    #publicidad .social-buttons {
        display: flex; /* Usar flexbox para alinear los botones */
        flex-direction: column; /* Colocar botones en columna */
        align-items: center; /* Centrar los botones */
    }
    
    #publicidad .social-buttons a {
        display: block; /* Cada botón en su línea */
        margin: 10px 0; /* Espacio entre botones */
        padding: 12px 20px; /* Aumentar el área clicable */
        background-color: #f0db4f; /* Fondo amarillo para contraste */
        color: #222; /* Color del texto oscuro para legibilidad */
        text-align: center; /* Centrar texto en el botón */
        border-radius: 5px; /* Bordes redondeados */
        text-decoration: none; /* Sin subrayado */
        width: 80%; /* Ancho del botón */
        max-width: 300px; /* Ancho máximo del botón */
    }
    
    #publicidad .social-buttons a:hover {
        background-color: #e0c34f; /* Color al pasar el mouse */
    }
    
    


    
}